<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".presentacion.Aplicacion"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_mi_icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mi_icono_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MisLugares">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".presentacion.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentacion.AcercaDeActivity"
            android:label="Acerca de ..."
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <activity
            android:name=".presentacion.VistaLugarActivity"
            android:exported="true" />

        <activity
            android:name=".presentacion.EdicionLugarActivity"
            android:exported="true"
            android:label="Edición de Lugar" />

        <activity
            android:name=".presentacion.PreferenciasActivity"
            android:exported="true"
            android:label="Preferencias" />

        <activity
            android:name=".presentacion.PreferenciasFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".presentacion.MapaActivity"
            android:screenOrientation="portrait"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mislugaresa.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
